# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
dist/
out-tsc/
bazel-out/

# Environments
.env
frontend/src/environments/environment.ts

# IDE
.vscode/

# System files
.DS_Store
Thumbs.db
