<div class="py-1 flex justify-center gap-2 h-full items-center">

  @for (action of actions; track action) {
    <button
      (click)="handleClick(action)"
      class="group flex items-center justify-center w-10 h-7 border-2 rounded-xl transition-all duration-100 ease-in-out active:scale-95 cursor-pointer hover:text-white"
      
      [ngClass]="{
        'border-amber-400 text-amber-600 hover:bg-amber-500 hover:text-white hover:shadow-amber-200': action.color === 'amber',
        'border-rose-400 text-rose-600 hover:bg-rose-600 hover:text-white hover:shadow-rose-200': action.color === 'rose',
        'border-emerald-400 text-emerald-600 hover:bg-emerald-600 hover:text-white hover:shadow-emerald-200': action.color === 'emerald'
      }"

      [attr.title]="action.tooltip"
    >
      <ng-icon [name]="action.icon" size="20" class="transition-colors group-hover:text-white!"></ng-icon>
    </button>
  }

</div>